@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    color: #251103;
    font-family: 'Concert One', 'Roboto', 'Helevtica Nue', sans-serif;
}

body {
    background: linear-gradient(135deg, #ffb872 25%, #ff48a6);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

.quiz-header {
    font-size: 1.82em;
    text-align: center;
}

.App {
    align-items: center;
    justify-content: center;
    height: min-content;
}

.quiz-container {
    background: #f0f0f0;
    display: flex;
    width: 50em;
    height: min-content;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2em 0 2em 0;
    padding: 1.25em;
    box-shadow: 0.75em 0.75em 3em 0em rgba(0, 0, 0, 0.75);
}

.question-section {
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    row-gap: 2em;
    padding: 0.5em;
    column-gap: 1em;
}

.remaining-questions {
    font-size: 0.75em;
}

.answers-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin: 1em auto;
    max-width: 80vh;
    padding: 1em;
    column-gap: 0.5em;
}

button {
    position: relative;
    background-color: #f9bb5e;
    border: 0.5px solid #fb9bd0;
    border-radius: 0 0.5em 0 0.5em;
    width: 5em;
    margin: 0.5em;
    font-size: 2em;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    cursor: pointer;
}

button:hover {
    background-color: #fffb91;
    transition: all ease-out 0.65s;
}

.show-score-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    top: 40%;
    left: 50%;
}